# ---------------------------------------------------
# IDE Files (IntelliJ IDEA/NetBeans/Eclipse)
# ---------------------------------------------------
.idea/
*.iml
*.iws
*.ipr
nbproject/
/out/
.mtj.tmp/

# ---------------------------------------------------
# Maven Build Output
# ---------------------------------------------------
target/

# ---------------------------------------------------
# Standard Java / Bytecode & Archives
# ---------------------------------------------------
*.class
*.jar
*.war
*.nar
*.ear
/bin/
*.zip
*.tar.gz
*.rar

# ---------------------------------------------------
# Logs & Temporary Files
# ---------------------------------------------------
# Log files
*.log

# BlueJ files
*.ctxt

# Virtual machine crash logs (see http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*
replay_pid*